protobuf==3.20.3

chromadb==1.5.7


streamlit==1.56.0

langchain==1.2.15
langchain-openai==1.1.12
langchain-community==0.4.1
langchain-text-splitters==1.1.1
langchain-core==1.2.28

openai==2.31.0

beautifulsoup4==4.14.3
tiktoken==0.12.0


